.container {
    width: 80%;
    padding: 30px;
    background: #F2F3F4;
    border-radius: 10px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto; /* Center the container */
}

.scroll-container {
    max-height: 75vh;
    min-height: 75vh;
    overflow-y: auto;
    width: 100%;
    background: #5DADE2;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
}

.scroll-container::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

#chat-chunk {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-message, .ai-message {
    max-width: 60%;
    padding: 10px;
    border-radius: 10px;
    margin: 5px 0;
    word-wrap: break-word;
}

.user-message {
    align-self: flex-end;
    background: #dcf8c6;
}

.ai-message {
    align-self: flex-start;
    background: #fff;
    border: 1px solid #ccc;
}

.input-container {
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
    padding: 20px 10px;
    background: #1B4F72;
    color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

input[type="text"] {
    padding: 10px;
    width: 70%;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-right: 20px;
}

button {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background: #ff9800;
    border: none;
    color: white;
    cursor: pointer;
}
